<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "cargos in $ctrl.cargos"
                ng-class="{ selected: $ctrl.isSelected(cargos) }"
            >
            <th scope="row">{{cargos.cargo_id}}</th>
            <td style="cursor: pointer" ng-click="$ctrl.onSelect(cargos)">{{cargos.car_nome}}</td>
            <td><button class="btn btn-danger" ng-click="$ctrl.btnDelete(cargos.cargo_id)">Excluir</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="$ctrl.addCargo()">Adicionar</button>
</div>
<!-- $ctrl.deleteCargo(cargos.cargo_id)" -->