<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Salario</th>
            <th scope="col">Data de nascimento</th>
            <th scope="col">Data de contratação</th>
            <th scope="col">Cargo</th>
            <th scope="col">Setor</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat = "funcionarios in $ctrl.funcionarios"
                ng-class="{ selected: $ctrl.isSelected(funcionarios) }"
            >
            <th scope="row">{{funcionarios.funcionario_id}}</th>
            <td ng-click="$ctrl.onSelect(funcionarios)">{{funcionarios.fun_nome}}</td>
            <td>{{funcionarios.fun_salario}}</td>
            <td>{{funcionarios.fun_data_nascimento | date: 'dd/MM/yyyy'}}</td>
            <td>{{funcionarios.fun_data_contratacao | date: 'dd/MM/yyyy'}}</td>
            <td>{{funcionarios.car_nome}}</td>
            <td>{{funcionarios.set_nome}}</td>
            <td><button class="btn btn-danger" ng-click="$ctrl.btnDelete(funcionarios.funcionario_id)">Excluir</button></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" ng-click="$ctrl.addFuncionario()">Adicionar</button>
</div>
<!-- $ctrl.deleteCargo(funcionarios.cargo_id)" -->