<div class="container">
    <form>
         <div ng-if="$ctrl.func">
             <h3>"{{$ctrl.func.fun_nome}}"</h3>
             <div class="form-group">
                 <label for="nomeExibido">Id: </label>{{$ctrl.func.funcionario_id}}</div>
             <div class="form-group">
                 <label for="editNome">Name: </label>
                 <input class="form-control" id="editNome" ng-model="$ctrl.func.fun_nome" placeholder="name"/>
             </div>
             <div class="form-group">
                <label for="salarioFunc">Salario</label>
                <input type="number" step = "0.01" min="0" ng-model="$ctrl.func.fun_salario" class="form-control" id="InputSalario" placeholder="Salario" required>
             
            </div>
            <div class="form-group">
                <label for="dataNascimento">Data de nascimento</label>
                <div>
                  <input class="form-control" type="date" ng-model="$ctrl.func.fun_data_nascimento" id="dataNascimento">
                </div>
            </div>
            <div class="form-group">
                <label for="dataContratacao">Data de contratação</label>
                <div>
                  <input class="form-control" type="date" ng-model="$ctrl.func.fun_data_contratacao" id="dataContratacao">
                </div>
            </div>
            <div class="form-group">
                <label for="cargos">Cargo</label>
                <select 
                    class="form-control" 
                    id="cargosSelect"
                    ng-model="$ctrl.func.cargo_id"
                >
                <option ng-repeat = "cargos in $ctrl.cargos" value="{{cargos.cargo_id}}">{{cargos.car_nome}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="setor">Setor</label>
                <select 
                    class="form-control" 
                    id="setorSelect"
                    ng-model="$ctrl.func.setor_id"
                >
                <option ng-repeat = "setores in $ctrl.setores" value="{{setores.setor_id}}">{{setores.set_nome}}</option>    
                </select>
            </div>
             <button class="btn btn-success" ng-click="$ctrl.save()">Save</button>
             <button class="btn btn-danger" ng-click="$ctrl.cancel()">Cancel</button>
         </div>
     </form>
 </div>