<div class="container">
    
    <h1>Relatório gerado com sucesso</h1>
    <button class="btn btn-danger" ng-click="$ctrl.voltar()">Voltar</button>
    <!-- <table class="table">
        <tbody>
            <tr ng-repeat = "funcionarios in $ctrl.funcionarios">
                <td>{{funcionarios.fun_nome}}</td>
                <td>{{funcionarios.fun_data_contratacao | date: 'dd/MM/yyyy'}}</td>
                <td>{{funcionarios.fun_salario}}</td>
            </tr>
        </tbody>
    </table>
    <h3>Total: {{$ctrl.valorTotal}}</h3> -->
 </div>
